@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}


/* root */
:root {
  --primary: #ff4477;
  --primary-light: hsla(344, 100%, 63%, 0.5);
  --primary-pink: hsla(344, 57%, 67%);
  --text-primary: #373d3f;
  --text-secondary: #94a3b8;
}
/* overriding default html css */

body {
  color: #373d3f;
}

/* hide number field arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}